/* Sticky Footer Full height flexbox solution. */
.main {
  flex: 1 0 auto; /* 2 */
}

.main::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  height: 0px;
  visibility: hidden;
}

.main {
  padding: 0;
}
.main::after {
  content: none;
}
